html{
    background-image: linear-gradient(to left, #a0b,  #05f);
    padding: 0px;
    user-select: none;
    --cursor-final-color : #f57;
    --initial-title-gradient : linear-gradient(to left, #f0f,  #f57);
}


.main-input-container{
    top: 30%;
    left:25%;
    width: 50vw;
    height: 15vw;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    font-family: 'Noto Sans Mono', monospace;
    background-image: inherit;
    border-radius: 20px;
    transition: transform .2s, box-shadow .2s;
    box-shadow: #000 0px 0px 10px;
    z-index: 99;
}
.main-input-container-writting-animation{
    transform: scale(1.05,1.05);
    box-shadow: #000 10px 10px 50px;
}
.main-input-container__input{
    display: flex;
    align-items: center;
    justify-content: center;
}



.main-input-container__input__cursor{
    width: 2vw;
    height: 5vw;
    background-color: #000;
    transition: background-color 0s, transform 0s;
    border-radius: 20px;
    transform: scale(0,0);
}

.cursorAnimationAsignment{
    transform: scale(1,1);
    background-color: var(--cursor-final-color);
    transition: background-color 1s, transform .5s;
}

.main-input-container__initial-msg{
    transform: scale(1,1);
    color : #000;
    transition: transform .5s, color .5s ;
}
.main-input-container__initial-msg__button{
    cursor: pointer;
    transition: -webkit-text-fill-color 1s;
}

.main-input-container__initial-msg__button:hover{
    background-image: var(--initial-title-gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.initial-msg-remove-animation{
    transform: scale(0,1);
    color : var(--cursor-final-color);
    position: absolute;
}

.writting-ball{
    position: absolute;
    z-index: -9;
    width: 2vw;
    height: 2vw;
    background-color: #000;
    border-radius: 20px;
}


